body {
  font-family: "Great Vibes", cursive;
}

.rog {
  transform: rotate(90deg);
}

.profile {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(to right bottom, rgba(233, 220, 204, 0), rgb(233, 220, 204));
}
.profile::-webkit-scrollbar {
  display: none;
}
.profile .profile__item {
  scroll-snap-align: start;
  flex: 0 0 100%;
}
.profile .profile__item .profile__item--name {
  position: relative;
  height: 10vh;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.profile .profile__item .profile__item--name p {
  font-size: 30px;
}
@media (max-width: 1920px) {
  .profile .profile__item .profile__item--name p {
    font-size: 28px;
  }
}
@media (max-width: 1440px) {
  .profile .profile__item .profile__item--name p {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .profile .profile__item .profile__item--name p {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .profile .profile__item .profile__item--name p {
    font-size: 20px;
  }
}
.profile .profile__item .profile__item--name p {
  line-height: 30px;
  opacity: 0;
  transform: translateY(-100%);
}
.profile .profile__item .profile__item--name p::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: black;
  width: 200%;
  clip-path: polygon(50% 0%, 80% 10%, 100% 50%, 100% 50%, 80% 90%, 50% 100%, 20% 90%, 0 50%, 0 50%, 20% 10%);
}
.profile .profile__item .profile__item--infor {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.profile .profile__item .profile__item--infor .infor__item {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(1) {
  border-right: 1px solid black;
  height: 50%;
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(1) .infor__item--content p {
  transform: translateX(-120%);
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(2) {
  border-left: 1px solid black;
  height: 50%;
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(2) .infor__item--content p {
  transform: translateX(120%);
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(3) {
  border-right: 1px solid black;
  height: 50%;
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(3) .infor__item--content p {
  transform: translateX(-120%);
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(4) {
  border-left: 1px solid black;
  height: 50%;
}
.profile .profile__item .profile__item--infor .infor__item:nth-child(4) .infor__item--content p {
  transform: translateX(120%);
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 25%;
  overflow: hidden;
  position: relative;
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--title p {
  font-size: 24px;
}
@media (max-width: 1920px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--title p {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--title p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--title p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--title p {
    font-size: 16px;
  }
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--title p {
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--title p::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: black;
  width: 200%;
  clip-path: polygon(50% 0%, 80% 10%, 100% 50%, 100% 50%, 80% 90%, 50% 100%, 20% 90%, 0 50%, 0 50%, 20% 10%);
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--content {
  height: 75%;
  box-sizing: border-box;
  overflow: scroll;
  padding-left: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--content::-webkit-scrollbar {
  display: none;
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--content p {
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 1920px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--content p {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 1440px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--content p {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 1024px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--content p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 900px) {
  .profile .profile__item .profile__item--infor .infor__item .infor__item--content p {
    font-size: 12px;
  }
}
.profile .profile__item .profile__item--infor .infor__item .infor__item--content iframe {
  width: 50%;
  height: 90%;
  transform: translateX(200%);
  border-radius: 14px;
  z-index: 1;
}
.profile .profile__item .profile__item--router {
  height: 10vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.profile .profile__item .profile__item--router .router__title {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile .profile__item .profile__item--router .router__title p {
  text-align: center;
  font-size: 24px;
}
@media (max-width: 1920px) {
  .profile .profile__item .profile__item--router .router__title p {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .profile .profile__item .profile__item--router .router__title p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .profile .profile__item .profile__item--router .router__title p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .profile .profile__item .profile__item--router .router__title p {
    font-size: 16px;
  }
}
.profile .profile__item .profile__item--router .router__title p {
  text-decoration: dotted;
}
.profile .profile__item .profile__item--router .router__title span {
  display: block;
  width: 50px;
  height: 1px;
  background-color: black;
  border-radius: 100000px;
}
.profile .profile__item .profile__item--router .router__icon {
  height: 60%;
  text-align: center;
  cursor: pointer;
}
.profile .profile__item .profile__item--router .router__icon img {
  height: 100%;
  object-fit: cover;
  animation: rog 3s linear infinite;
}

.warrning {
  position: absolute;
  z-index: 100000;
  width: 100vw;
  opacity: 0;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  transition: all 0.1s linear;
  pointer-events: none;
}
.warrning img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: all 0.1s linear;
  background-color: black;
}

.warrning__display {
  opacity: 1;
}

@keyframes profile_anim {
  100% {
    opacity: 1;
  }
}
.animation {
  animation: title_anim 0.3s linear forwards;
}

.animation_ {
  animation: content_anim 0.1s linear forwards;
}

@keyframes rog {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) translateY(0px);
  }
  25% {
    transform: rotate3d(0, 1, 0, 90deg) translateY(-10px);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg) translateY(0px);
  }
  75% {
    transform: rotate3d(0, 1, 0, 270deg) translateY(10px);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg) translateY(0px);
  }
}
@keyframes title_anim {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes content_anim {
  100% {
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=style_.css.map */
